<%# <div style="height: 100%"> %>
  <div class="background-movies" style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("movies.jpg") %>);">
    <%= yield %>
  </div>
<%# </div> %>
