
<div class="card-footer text-muted ">


  <p class="text-center">App created by Pilar Sanchez. Data provided for free by TMDB.
  <a href="https://www.themoviedb.org/documentation/api/terms-of-use">View TMDB's terms of use</a></p>


</div>
