<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= image_tag("popcorn.png", class: "navbar--img")%>
  <div class="d-flex ">
    <%= link_to "My lists", lists_path(@list), class: "btn btn-outline-dark rounded-2"  %>
      <%# <button type="button" class="btn btn-outline-dark rounded-2">My lists</button> %>
    <%# <% end %>
    <%= link_to "New list", new_list_path(@list), class: "btn btn-outline-dark rounded-2 mx-2" %>
      <%# <button type="button" class="btn btn-outline-dark rounded-2 mx-2">New list</button> %>
    <%# <% end %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-outline-dark" %>
    <% end %>

  </div>
</div>
