.background-video {
  position: absolute;
  left:0;
  top:0;
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  /* Telling our absolute positioned video to
  be relative to this element */
  position: relative;

  width: 400px;
  height: 200px;

  /* Will not allow the video to overflow the
  container */
  overflow: hidden;

  /* Centering the container's content vertically
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  position: relative;
  font-size:larger;
  color: white;
  // text-shadow: 2px 2px black;
}

.title-wrapper > p {
  font-weight: normal;
  text-shadow: 2px 2px black;
}

.title-wrapper > h1 {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px black;

}

.btn-home {
  border-radius: 6px;
}
