.background-movies {
  // padding: 79px 0;
  overflow: hidden;
  // height: 705px;
  min-height: 100vh;
  background-size: cover;
  background-repeat: cover;
  background-position: center;
  // max-width: 100%;
  // height: auto;

}
