.list-card {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // width: 400px;
  height: 220px;

  border-radius: 5px;
  text-align: center;
  // transition: transform .2s;

  // margin: 10px 10px;
}

// .list-card:hover {
//   transform: scale(1.2);
// }

.list-card h3{
  color: white;
  font-weight:bolder;
  text-shadow: 2px 2px #0b0b0b;
  padding-top: 100px;
}

a{
  text-decoration: none !important;
}

.list-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin: 15px 130px;
}

.container--btn{
  margin: 20px 130px;
}

.container--btn > a {
  margin-left: 1100px;
  // float: right;
}
